body {background-color: #edb3e1; }
    h1 {color: #f7f3f3; 
    text-align: center;
    font-style: italic;
    font-size: 400%;
    background-color: #e90b76;  }
    h2 {  font-style:normal;
    border-bottom: 3px solid #e90b76; 
    font-size: 180%; }
    p {background-color: #e90b76;
        text-align: center;
        font-style: italic;
        font-size: 150%; }
    h4{font-size: larger; font-weight: lighter;}
    h3 {font-size: x-large;}
    li {font-size: larger; font-weight: lighter;}